<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-image: url('../background.jpg');
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <div style="background-color:rgb(225, 248, 245);" class="container p-4 mt-4 mb-4 ml-0 w-75">
        <h1 class = "mb-5" style="color:black; font-weight: bold; font-size: 42px;"> <%=activity.targetAudience%></h1>
    </div>
</div>
</body>

</html>